.rrr{

  height: 100vh;
  width: 100%;
  background-size: contain;
}
img{
  padding-top: 180px;
  padding-bottom: 0px;
}
p{
  font-size: 29px;
  margin-bottom: 0px;
  text-align: left;
  letter-spacing: none;
}
.fff{
  color: white;
  text-decoration: none;
  border: 10px  transparent;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
}
